<ion-header>
   <!--<ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Training</ion-title>
  </ion-navbar>-->
</ion-header>

<ion-content class="card-background-page">
  <ion-card>
    <img src="assets/img/table.png" />
    <div class="card-title" align="center" *ngIf="(hmh+1)>currentPlay && currentPlay>0">
        Current play: {{currentPlay}} / {{hmh}}<br/>
        Action before you: {{getAby(aby)}}
    </div>
    <div class={{dealPosition}} *ngIf="currentPlay>0">
      <img src="assets/img/deal.png" />
    </div>
    <div class="card1" *ngIf="currentPlay>0">
      <img align="center" width="35" height="48" src={{card1ImgSrc}}>
    </div>
    <div class="card2" *ngIf="currentPlay>0">
      <img align="center" width="35" height="48" src={{card2ImgSrc}}>
    </div>
  </ion-card>
  <ion-item *ngIf="0==currentPlay ||  currentPlay>hmh">
    <ion-label text-left>How many hands?</ion-label>
    <ion-input text-center type="number" [(ngModel)]="hmh"></ion-input>
  </ion-item>
  <ion-item *ngIf="0==currentPlay || currentPlay>hmh">
    <button ion-button col-6 icon-right (click)="begin()">Play cards<ion-icon name="arrow-dropright-circle"></ion-icon></button>
    <button ion-button col-6 icon-right [navPush]="resultsPage" >Results<ion-icon name="stats"></ion-icon></button>
  </ion-item>
  <ion-grid  *ngIf="(hmh+1)>currentPlay && currentPlay>0">
    <ion-row wrap align="center">
      <button ion-button class="training-buttons" color="danger" icon-right (click)="answered('f')">Fold<ion-icon name="close-circle"></ion-icon></button>
      <button ion-button class="training-buttons" color="secondary" icon-right (click)="answered('h')">Check<ion-icon name="checkmark"></ion-icon></button>
      <button ion-button class="training-buttons" icon-right (click)="answered('r')">Rise<ion-icon name="arrow-round-up"></ion-icon></button>
      <button ion-button class="training-buttons" color="light" icon-right (click)="answered('c')">Call<ion-icon name="hand"></ion-icon></button>
    </ion-row>
</ion-grid>
</ion-content>